@model SysHotel.EL.View.FacturaView<SysHotel.EL.Detalle>

@{
    ViewBag.Title = "Create";
}
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class=" "})
    @Html.HiddenFor(model => model.IdReservacion)
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <h1 class="text-f4 text-align-center mt-7 mb-5">Nombre del hotel</h1>
                <h2 class="text-f2 text-align-center mt-0">Lema</h2>
                <p>Otra información relevante como la dirección y la ubicación de otros locales.</p>
            </div>
            <div class="col s12 m4">
                <div id="factura-info" class="text-align-center">
                    <span class="text-f2"> Factura Nº</span><br><span class="text-f3">@Html.DisplayFor(model => model.NumeroFactura)</span><br>
                    NIT:121-002291-101-1<br>
                    NRC:09878
                </div>
            </div>
        </div>
        <div class="row factura-encabezado">
            <div class="col s12 m6 l4">
                <span>NIT ó DUI:</span> <span>@Html.DisplayFor(model => model.NumeroDocumento) </span><br>
                <span>CLIENTE:</span> <span>@Html.DisplayFor(model => model.NombreCompleto)</span><br>
                <span>DIRECCIÓN:</span> <span>@Html.DisplayFor(model => model.DireccionCliente)</span>
            </div>
            <div class="col s12 m6 l4">
                <span>FECHA:</span> <span>@Html.DisplayFor(model => model.FechaEmision)</span><br>
                <span>ATENDIÓ:</span> <span>@Html.DisplayFor(model => model.Vendedor)</span>
            </div>
        </div>
        <div class="factura-cuerpo">
            <div class="row blue accent-2 white-text mb-0 bb-2" id="factura-cuerpo-titulo">
                <div class="col s2">
                    <span>CANT.</span>
                </div>
                <div class="col s6">
                    <span>DESCRIPCIÓN</span>
                </div>
                <div class="col s2 text-align-right">
                    <span>P.UNIT</span>
                </div>
                <div class="col s2 text-align-right">
                    <span>TOTAL</span>
                </div>
            </div>
            <!--Aqui van los detalles de la reserva-->
            <div class="row mb-0 bb-2">
                <div class="col s2">
                    <span>@Html.DisplayFor(model => model.Cantidad)</span>
                </div>
                <div class="col s6">
                    <span>@Html.DisplayFor(model => model.Descripcion)</span>
                </div>
                <div class="col s2 text-align-right">
                    <span>$@Html.DisplayFor(model => model.PrecioUnitario)</span>
                </div>
                <div class="col s2 text-align-right">
                    <span>$@Html.DisplayFor(model => model.SubtotalProducto)</span>
                </div>
            </div>
            <!--Aqui van otros detalles-->
            @foreach (var item in Model.Detalle)
            {
                <div class="row mb-0 bb-2">
                    <div class="col s2">
                        <span>@Html.DisplayFor(model => item.Cantidad)</span>
                    </div>
                    <div class="col s6">
                        <span>@Html.DisplayFor(model => item.alimento.Descripcion)</span>
                    </div>
                    <div class="col s2 text-align-right">
                        <span>$@Html.DisplayFor(model => item.alimento.Precio)</span>
                    </div>
                    <div class="col s2 text-align-right">
                        <span>$@Html.DisplayFor(model => item.TotalDetalle)</span>
                    </div>
                </div>
            }
            <!--Aqui van los totales-->
            <div class="row mb-0">
                <div class="col s8"></div>
                <div class="col s2 bl-2 bb-2 blue accent-1">Sumas</div>
                <div class="col s2 text-align-right bb-2 blue accent-1">$@Html.DisplayFor(model => model.SubtotalFactura)</div>
            </div>
            <div class="row mb-0">
                <div class="col s8">SON: <span>Quinientos treinta y cuatro 94/100</span></div>
                <div class="col s2 bl-2 bb-2 blue accent-1">IVA</div>
                <div class="col s2 text-align-right bb-2 blue accent-1">$@Html.DisplayFor(model => model.IVA)</div>
            </div>
            <div class="row mb-0">
                <div class="col s8"></div>
                <div class="col s2 bl-2 blue accent-1">Total</div>
                <div class="col s2 text-align-right blue accent-1" id="factura-cuerpo-pie">$@Html.DisplayFor(model => model.TotalFactura)</div>
            </div>
        </div>
        <br />
        <div class="row text-align-right">
            <input type="submit" class="btn btn-large waves-effect waves-light" value="Generar">
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
