@model SysHotel.EL.CategoriaAlimento

@{
    ViewBag.Title = "Nueva categoría";
}
<div class="row">
    <div class="col s12 m6">
        <h4>Agregar nueva categoría</h4>
        @if (ViewBag.Message != null)
        {
            string clase = "";
            switch (ViewBag.Message)
            {
                case "Ocurrió un error crítico, no fué posible guardar la nueva categoría.":
                    clase = "alert-danger";
                    break;

                case "La categoría ya existe.":
                    clase = "alert-warning";
                    break;
                case "Datos incompletos.":
                    clase = "alert-error";
                    break;
                case "Información incompleta.":
                    clase = "alert-info";
                    break;
            }
            <div id="closeAlertLogin" class=@clase> <strong>@ViewBag.Message</strong><span onclick="closeAlertFunction( );" class="right spanClose">&#10060;</span></div>
        }
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h5>Características de la nueva categoría</h5>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "redText" })
            <div class="input-field">
                @Html.LabelFor(model => model.NombreCategoria, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.NombreCategoria, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.NombreCategoria, "", new { @class = "redText" })
            </div>

            <div class="input-field">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })
                @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "redText" })
            </div>
            <br />
            <div class="right">
                <button type="submit" class="btn waves-effect waves-light white-text">Agregar</button>
            </div>
            <br />
        }
        <br />
        <div>
            <i class="material-icons">undo</i> @Html.ActionLink("Regresar a la lista", "Index")
        </div>
        <br />
    </div>
    <div class="col s12 m6">
        <h6 class="relleno indigo lighten-5">Estas son las últimas 10 categorías ingresadas.</h6>
        @{
            int x = 0;
            int y = 1;
            string elemApertura = "<div class='row'>";
            string elemCierre = "</div>";

            var viewDataCategoria = ViewData["CategoriasExistentes"] as IList<SysHotel.EL.CategoriaAlimento>;
            foreach (var item in viewDataCategoria)
            {
                x++;
                if (x == y)
                {
                    @Html.Raw(elemApertura);@*Se convierte el string en una etiqueta html*@
                    <div class="col s6">
                        <div class="card">
                            <div class="card-content" style="height:150px;overflow:auto;">
                                <b>@item.NombreCategoria</b><br />
                                @item.Descripcion
                            </div>
                        </div>
                    </div>
                    y += 2;/*Aqui se indica cuantas tarjetas mostrar por fila*/
                }
                else
                {
                    <div class="col s6">
                        <div class="card">
                            <div class="card-content" style="height:150px;overflow:auto;">
                                <b>@item.NombreCategoria</b><br />
                                @item.Descripcion
                            </div>
                        </div>
                    </div>
                }
                if (x == y - 1)
                {
                    @Html.Raw(elemCierre)
                }
                if (x == viewDataCategoria.Count())
                {
                    @Html.Raw(elemCierre)
                }
            }
        }
    </div>
</div>
