@model SysHotel.EL.CategoriaAlimento

@{
    ViewBag.Title = "Editar categoría alimento";
}
<div class="row">
    <div class="col s6">
        <h4><i class="material-icons">edit</i>Editar categoría</h4>
        @if (ViewBag.Message != null)
        {
            string clase = "";
            switch (ViewBag.Message)
            {
                case "Ocurrió un error, el cambio no fué posible salvarlo.":
                    clase = "alert-danger";
                    break;

                case "No se han hecho cambios.":
                    clase = "alert-info";
                    break;
                case "Ya existe una categoría con el mismo nombre.":
                    clase = "alert-warning";
                    break;
                case "Upss, los datos se fueron incompletos.":
                    clase = "alert-error";
                    break;
                case "Información incompleta.":
                    clase = "alert-info";
                    break;
            }
            <div id="closeAlertLogin" class=@clase> <strong>@ViewBag.Message</strong><span onclick="closeAlertFunction( );" class="right spanClose">&#10060;</span></div>
        }
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="l">
                <h5>Detalles de la categoría</h5>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "red-text" })
                @Html.HiddenFor(model => model.IdCategoriaAlimento)
                @Html.HiddenFor(model => model.Estado)

                <div class="input-field">
                    @Html.LabelFor(model => model.NombreCategoria, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.NombreCategoria, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.NombreCategoria, "", new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "red-text" })
                </div>

                <div class="right">
                    <button type="submit" class="btn waves-effect waves-light white-text">Guardar cambios</button>
                </div>

            </div>
        }
    </div>
    <div class="col s6">

    </div>
</div>

<div>
    <i class="material-icons">undo</i>@Html.ActionLink("Regresar a la lista", "Index")
</div>
<br />
<br />
