@model SysHotel.EL.Cliente

@{
    ViewBag.Title = "Detalles del cliente";
}

<div class="container">
    <div class="row">
        <div class="col s6">
            <h4>Detalles</h4>
            <hr />
            <div class="card blue lighten-5">
                <div class="card-content grey-text text-darken-4">
                    <span class="card-title">Descripción del cliente seleccionado</span>
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Nombres):</strong>
                        @Html.DisplayFor(model => model.Nombres)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Apellidos):</strong>
                        @Html.DisplayFor(model => model.Apellidos)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.FechaNacimiento):</strong>
                        @Html.DisplayFor(model => model.FechaNacimiento)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.TipoDocumento):</strong>
                        @Html.DisplayFor(model => model.TipoDocumento)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.NumeroDocumento):</strong>
                        @Html.DisplayFor(model => model.NumeroDocumento)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Telefono):</strong>
                        @Html.DisplayFor(model => model.Telefono)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Correo):</strong>
                        @Html.DisplayFor(model => model.Correo)
                    </p>
                    <br />
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Direccion):</strong>
                        @Html.DisplayFor(model => model.Direccion)
                    </p>
                    <br />
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-light light-blue lighten- white-text" href="~/Cliente/Edit/@Model.IdCliente">Editar categoría</a>
                </div>
            </div>

        </div>

        <div class="col s6">

        </div>
    </div>
    <a href="~/Cliente"><i class="material-icons">undo</i> Regresar a la lista</a>
</div>