@model SysHotel.EL.Paginador.PaginadorGenerico<SysHotel.EL.Alimento>

@{
    ViewBag.Title = "Alimentos";
}

<h4>Catálogo de alimentos</h4>

<div class="row">
    <div class="col s12 m6 l4">
        <strong class="btn waves-effect waves-light">
            <span>&#10133</span><a style="color:white" href="~/Alimento/Create"> Nuevo alimento</a>
        </strong>
        <br />
        <br />
    </div>
    <div class="col s12 m6 l4">
        <!--Para filtrar la lista por categorias-->
        <div class="row">
            <div class="col s4">
                <strong>Filtrar categorías:</strong>
            </div>
            <div class="col s8">
                @using (Html.BeginForm("Index", "Alimento", FormMethod.Post))
                {
                    @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control" });
                    <button type="submit" class=" btn waves-effect waves-light">Filtrar</button>
                }
            </div>
        </div>
    </div>
    <!--Busqueda-->
    <div class="col s12 m6 l4">
        <form method="get" action=@Url.Action("Index", "Alimento")>
            <div class="row">
                <div class="col s12">
                    <div class="input-field" style="margin:0px; padding:0px">
                        <input name="busqueda" type="search" required style="border: 1px solid #A9A9A9; padding:0px">
                        <i class="material-icons">close</i>
                    </div>
                    <button style="margin-top:3px;" type="submit" class="btn waves-effect waves-light indigo darken-1 white-text">Buscar</button>
                    <a style="margin-top:3px;" href="~/Alimento" class="btn waves-effect waves-light blue darken-1 white-text">Mostrar todo</a>
                </div>

            </div>
        </form>
    </div>
</div>

@{
    if (ViewBag.Categoria != null)
    {
        <h5>@ViewBag.Categoria.NombreCategoria</h5>
    }
    else
    {
        <h5>Todos los alimentos</h5>
    }
    int x = 0;
    int y = 1;
    string elemApertura = "<div class='row'>";
    string elemCierre = "</div>";

    foreach (var item in Model.Resultado)
    {
        x++;
        if (x == y)
        {
            @Html.Raw(elemApertura);
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        @if (!string.IsNullOrEmpty(item.Imagen))
                        {
                            <img src="@Url.Content(item.Imagen)" />
                        }
                        else
                        {
                            <img src="~/Content/Img/Alimentos/vacio.jpg" alt="Sin Imagen" />
                        }
                        <div class="card-title" style="background-color:rgba(0, 0, 0, 0.30); width:100%; padding:10px;">
                            <span>@Html.DisplayFor(modelItem => item.Nombre)</span>
                        </div>
                    </div>
                    <div class="card-content" style="height:200px">
                        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        <p>Precio: @Html.DisplayFor(modelItem => item.Precio)</p>
                    </div>
                    <div class="divider"></div>
                    <div class="center" style="padding:10px 0px;">
                        <i class="material-icons"><a class="tooltipped" style="color: rgb(255, 106, 0)" data-position="bottom" data-tooltip="Editar" href="~/Alimento/Edit/@item.IdAlimento">edit</a></i>|
                        <i class="material-icons"><a class="tooltipped" data-position="bottom" data-tooltip="Detalles" href="~/Alimento/Details/@item.IdAlimento">description</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:green" data-position="bottom" data-tooltip="Adquirir" onclick="openModal(@item.IdAlimento,'@item.Nombre','@item.Precio')">add_shopping_cart</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:red" data-position="bottom" data-tooltip="Eliminar" href="~/Alimento/Delete/@item.IdAlimento">delete</a></i>
                    </div>
                </div>
            </div>
            y += 4;/*Aqui se indica cuantas tarjetas mostrar por fila. Se debe modificar*/
        }
        else
        {
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        @if (!string.IsNullOrEmpty(item.Imagen))
                        {
                            <img src="@Url.Content(item.Imagen)" />
                        }
                        else
                        {
                            <img src="~/Content/Img/Alimentos/vacio.jpg" alt="Sin Imagen" />
                        }
                        <div class="card-title" style="background-color:rgba(0, 0, 0, 0.40); width:100%; padding:10px;">
                            <span>@Html.DisplayFor(modelItem => item.Nombre)</span>
                        </div>

                    </div>
                    <div class="card-content" style="height:200px">

                        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        <p>Precio: @Html.DisplayFor(modelItem => item.Precio)</p>
                    </div>
                    <div class="divider"></div>
                    <div class="center" style="padding:10px 0px;">
                        <i class="material-icons"><a class="tooltipped" style="color:rgb(255, 106, 0)" data-position="bottom" data-tooltip="Editar" href="~/Alimento/Edit/@item.IdAlimento">edit</a></i>|
                        <i class="material-icons"><a class="tooltipped" data-position="bottom" data-tooltip="Detalles" href="~/Alimento/Details/@item.IdAlimento">description</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:green" data-position="bottom" data-tooltip="Adquirir" onclick="openModal(@item.IdAlimento,'@item.Nombre','@item.Precio');">add_shopping_cart</a></i>|
                        <i class="material-icons"><a class="tooltipped" style="color:red" data-position="bottom" data-tooltip="Eliminar" href="~/Alimento/Delete/@item.IdAlimento">delete</a></i>
                    </div>
                </div>
            </div>
        }
        if (x == y - 1)
        {
            @Html.Raw(elemCierre)
        }
        if (x == Model.Resultado.Count())
        {
            @Html.Raw(elemCierre)
        }

    }
}
<!--Estructura del modal-->
<div id="modal-agregar" style="display:none; overflow:auto;">
    @using (Html.BeginForm("VerCesta", "Alimento", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h1 class="title-modal center green lighten-3">Completa los siguientes campos</h1>
        <div class="row">
            <div class="col s12 m12 l6">
                <fieldset>
                    <legend>Datos de la reserva</legend>

                   
                    <label for="input-modal-idReservacion" class="label-modal t5">Ingresa el código de la reserva</label><input id="input-modal-idReservacion" name="id" type="number" class="input-modal" placeholder="Ejemplo (345)" /><span class="btn btn-small btn-modal" onclick="idReservacion();"><a>Buscar</a></span><br />

                   
                    <label for="input-modal-nombreCliente" class="label-modal t5">Cliente</label><input id="input-modal-nombreCliente" type="text" class="input-modal" readonly /><br />
                    <label for="input-modal-numeroHabitacion" class="label-modal t5">Numero de habitación</label><input id="input-modal-numeroHabitacion" type="number" class="input-modal" readonly /><br />
                    <label for="input-modal-diaEntrada" class="label-modal t5">Día Entrada</label><input id="input-modal-diaEntrada" type="text" class="input-modal" readonly /><br />
                    <label for="input-modal-diaSalida" class="label-modal t5">Día Salida</label><input id="input-modal-diaSalida" type="text" class="input-modal" readonly />
                    <div id="modal-info"></div>
                    <div id="modal-progress"></div>
                </fieldset>

            </div>
            <div class="col s12 m12 l6">
                <fieldset>
                    <legend>Información del alimento</legend>
                    <input id="input-modal-idAlimento" name="idAlimento" type="number" hidden />
                    <label for="input-modal-nombreAlimento" class="label-modal t5">Nombre</label><input id="input-modal-nombreAlimento" type="text" class="input-modal" readonly /><br />
                    <label for="input-modal-precio" class="label-modal t5">Precio</label><input id="input-modal-precio" type="text" class="input-modal" readonly />
                </fieldset>
            </div>

            <div class="col s12 m12 l6">
                <fieldset>
                    <legend>Información sobre el pedido</legend>
                    <label class="label-modal t5">Día</label><input id="input-modal-dia" type="date" class="input-modal" /><br />
                    <label class="label-modal t5">Tiempo de comida</label>
                    <select id="select-modal-tiempo">
                        <option selected>Seleccionar</option>
                        <option value="1">Desayuno</option>
                        <option value="2">Almuerzo</option>
                        <option value="3">Cena</option>
                    </select><br />
                    <label class="label-modal t5">Cantidad</label><input id="input-modal-cantidad" type="number" class="input-modal" onchange="calcularPrecio();" /><br />
                    <label class="label-modal t5">Subtotal</label><input id="input-modal-subtotal" type="text" class="input-modal" readonly/>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col s12 ">
                <span id="btn-modal-cancelar" class="btn waves-effect waves-light" onclick="closeModal();"><a class="white-text">Volver</a></span>
                <button type="submit" class="btn waves-effect waves-light right">Ver Cesta</button>
                <span id="btn-modal-cesta" class="btn waves-effect waves-light" onclick="añadirACarritoDeCompra();"><a class="white-text">Añadir a la cesta y seguir comprando</a></span>
            </div>
        </div>
    }

    </div>
<!--Fin modal-->
<br />
<br />
@*CODIGO PARA EL PAGINADOR DE REGISTRO*@
<div style="margin-left:10px; margin-right:10px;">

    @if (Model.Resultado.Count() > 0)
    {
        <span>
            <strong>@Model.TotalRegistro</strong> registros encontrados
        </span>

        <span>&nbsp;|&nbsp;</span>

        <span>
            Página <strong>@(Model.PaginaActual)</strong> de
            <strong>@Model.TotalPagina</strong>
        </span>
        <span>&nbsp;||&nbsp;</span>
    }
    else
    {
        <span>No hay resultados para esta búsqueda</span>
        <span>&nbsp;|&nbsp;</span>
        }
    <br />
    <br />
    @if (Model.PaginaActual > 1)
    {
        @Html.ActionLink("<<", "Index", new { idCategoria = ViewBag.IdCategoriaGuardada, pagina = 1 },
                                        new { @class = "btn" })
        <span></span>
        @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                        new { @class = "btn" })
    }
    else
    {
        @Html.ActionLink("<<", "Index", new { pagina = 1 },
                        new { @class = "btn disabled" })
        <span></span>
        @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                        new { @class = "btn disabled" })
    }
    <span></span>
    @if (Model.PaginaActual < Model.TotalPagina)
    {
        @Html.ActionLink("Siguiente", "Index", new { idCategoria = ViewBag.IdCategoriaGuardada, pagina = Model.PaginaActual + 1 },
                            new { @class = "btn" })
        <span></span>
        @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPagina },
                            new { @class = "btn" })
    }
    else
    {
        @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPagina - 1 },
                            new { @class = "btn disabled" })
        <span></span>
        @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPagina },
                            new { @class = "btn disabled" })
    }
</div>


@section scripts{
    <script>
        M.AutoInit();

        //abre el modal y completa la informacion sobre el alimento
        function openModal(id, nombre, precio) {
            let modal = document.getElementById("modal-agregar");
            modal.style.display = "block";
            modal.style.position = "fixed";
            document.getElementById("input-modal-idAlimento").value = id;
            document.getElementById("input-modal-nombreAlimento").value = nombre;
            document.getElementById("input-modal-precio").value = "$ "+precio;
        }

        //cierra el modal 
        function closeModal() {
            limpiarDatosDeCompra();
            let modal = document.getElementById("modal-agregar");
            modal.style.display = "none";
        }


        //Eliminar todos los datos de la compra
        function EliminarCarritoDeCompra() {
            limpiarDatosReserva();
            limpiarDatosDeCompra();
        }

        //borra los datos solo de la reserva ingresados en el modal
        function limpiarDatosReserva() {
            document.getElementById("input-modal-idReservacion").value = "";
            document.getElementById("input-modal-nombreCliente").value = "";
            document.getElementById("input-modal-numeroHabitacion").value = "";
            document.getElementById("input-modal-diaEntrada").value = "";
            document.getElementById("input-modal-diaSalida").value = "";
        }

        //borra los datos ingresados en el modal
        function limpiarDatosDeCompra() {
            document.getElementById("input-modal-dia").value = "";
            document.getElementById("input-modal-cantidad").value = "";
            document.getElementById("input-modal-subtotal").value = "";
            document.getElementById("input-modal-idAlimento").value = "";
            document.getElementById("input-modal-nombreAlimento").value = "";
            document.getElementById("input-modal-precio").value = "";
        }

        //peticion al servidor por medio de AJAX
        const obtenerReserva = id => new Promise((resolve, reject) => {
            const ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                let valor = ajax.readyState;
                let info = document.getElementById("modal-progress");

                switch (valor) {
                    case 1:
                        info.style.visibility = "visible";

                        info.innerHTML = "<div class='progress'><div class='determinate' style ='width: 25%'></div ></div >";
                        break;
                    case 2:
                        info.style.visibility = "visible";

                        info.innerHTML = "<div class='progress'><div class='determinate' style ='width: 50%'></div ></div >";
                        break;
                    case 3:
                        info.style.visibility = "visible";

                        info.innerHTML = "<div class='progress'><div class='determinate' style ='width: 75%'></div ></div >";
                        break;
                    case 4:
                        info.style.visibility = "visible";
                        info.innerHTML = "<div class='progress'><div class='determinate' style ='width: 100%'></div ></div >";
                        ajax.onload = function () {
                            if (ajax.status == 200) {
                                resolve(JSON.parse(ajax.responseText));

                                //let date1 = formatearFecha(reservaEncontrada.DiaEntrada);
                                //let date2 = formatearFecha(reservaEncontrada.DiaSalida);
                            } else {
                                reject(Error(ajax.statusText));
                            }
                        }
                        break;
                }
            }
            ajax.onerror = (error) => {
                reject(error);
            }
            ajax.open("GET", `Reservacion?id=${id}`, true);
            ajax.send();
        });

        //Recuperacion del codigo de reserva ingresado
        function idReservacion() {
            const id = document.getElementById("input-modal-idReservacion").value;
            if (id > 0) {
                obtenerReserva(id)
                    .then(
                        respuesta => mostrarDatosEnModal(respuesta),
                        error => mostrarDatosEnModal(error));
            } else {
                limpiarDatosReserva();
                let info = document.getElementById("modal-info");
                info.style.visibility = "visible";
                info.innerHTML = "<strong>Debe ingresar un id válido</strong><span onclick='spanClose();' class='right spanClose'>&#10060;</span>";
            }
        }

        function mostrarDatosEnModal(res) {

            if (res.IdReservacion > 0) {
                document.getElementById("modal-progress").style.visibility = "hidden";
                document.getElementById("input-modal-idReservacion").setAttribute("readonly", true);
                //Llenamos los controles del formulario con la información obtenida
                document.getElementById("input-modal-nombreCliente").value = res["NombreCliente"];
                document.getElementById("input-modal-numeroHabitacion").value = res["NumeroHabitacion"];
                document.getElementById("input-modal-diaEntrada").value = res["DiaEntrada"];
                document.getElementById("input-modal-diaSalida").value = res["DiaSalida"];

            } else {
                //Le notificamos al usuario que nos existe la reserva
                document.getElementById("modal-progress").style.visibility = "hidden";
                let info = document.getElementById("modal-info");
                info.style.visibility = "visible";
                info.innerHTML = `<strong>Reservacion no encontrada. Error: ${res}</strong><span onclick="spanClose();" class="right spanClose">&#10060;</span>`;
            }
        }

        function spanClose() {
            let info = document.getElementById("modal-info");
            info.style.visibility = "hidden";
        }

        

        //Se puede formatear la fecha si se usa con input type date
        //ya que tiene el formato yyyy/MM/dd
        //function formatearFecha(fecha) {
        //    let time = fecha.split("/");
        //    return `${time[2]}-${time[1]}-${time[0]}`;
        //}

        //Calcula el precio de la compra
        function calcularPrecio() {
            let precio = document.getElementById("input-modal-precio").value;
            precio = precio.substring(2).replace(',','.');
            
            let cantidad = document.getElementById("input-modal-cantidad").value;
            let subtotal = precio * cantidad;
            document.getElementById("input-modal-subtotal").value ="$ " + subtotal.toFixed(2);//toPrecision aproxima el numero, le decimos que sean dos decimales
        }

        const GuardarArticuloEnCarritoDeCompra = () => new Promise((resolve, reject) => {
            //const idReservacion = document.getElementById("input-modal-idReservacion").value;
            //const nombreCliente = document.getElementById("input-modal-nombreCliente").value;
            //const numeroHabitacion = document.getElementById("input-modal-numeroHabitacion").value;
            //const diaEntrada = document.getElementById("input-modal-diaEntrada").value;
            //const diaSalida = document.getElementById("input-modal-diaSalida").value;
            //const idAlimento = document.getElementById("input-modal-idAlimento").value;
            //const nombreAlimento = document.getElementById("input-modal-nombreAlimento").value;
            //const precio = document.getElementById("input-modal-precio").value;
            //const dia = document.getElementById("input-modal-dia").value;
            //const tiempoComida = document.getElementById("select-modal-tiempo").value;
            //const cantidad = document.getElementById("input-modal-cantidad").value;
            //const subtotal = document.getElementById("input-modal-subtotal").value;

            //const articuloCompra = {
            //    idReserva: idReservacion,
            //    nombreCliente: nombreCliente,
            //    numeroHabitacion: numeroHabitacio,
            //    diaEntrada: diaEntrada,
            //    diaSalida: diaSalida,
            //    idAlimento: idAlimento,
            //    nombreAlimento: nombreAlimento,
            //    precio: precio,
            //    dia: dia,
            //    tiempoComida: tiempoComida,
            //    cantidad: cantida,
            //    subtotal: subtotal
            //}
            //const jsonArticulo = JSON.stringify(articuloCompra);


            const idReservacion = document.getElementById("input-modal-idReservacion").value;
            const nombreCliente = document.getElementById("input-modal-nombreCliente").value;
            const numeroHabitacion = document.getElementById("input-modal-numeroHabitacion").value;
            const diaEntrada = document.getElementById("input-modal-diaEntrada").value;
            const diaSalida = document.getElementById("input-modal-diaSalida").value;
            const idAlimento = document.getElementById("input-modal-idAlimento").value;
            const nombreAlimento = document.getElementById("input-modal-nombreAlimento").value;
            const precio = document.getElementById("input-modal-precio").value;
            const dia = document.getElementById("input-modal-dia").value;
            const tiempoComida = document.getElementById("select-modal-tiempo").value;
            const cantidad = document.getElementById("input-modal-cantidad").value;
            const subtotal = document.getElementById("input-modal-subtotal").value;
            const ajax = new XMLHttpRequest();
            ajax.onload = function () {
                if (ajax.readyState == 4 && ajax.status == 200) {
                    resolve(JSON.parse(ajax.responseText));
                   
                } else {
                    reject(Error(ajax.statusText));
                }
            }

            ajax.open("POST", "SetCookie", true);
            ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            ajax.onerror = (error) => reject(error);
            ajax.send(`idReservacion=${idReservacion}&nombreCliente=${nombreCliente}&numeroHabitacion=${numeroHabitacion}&diaEntrada=${diaEntrada}&diaSalida=${diaSalida}&idAlimento=${idAlimento}&nombreAlimento=${nombreAlimento}&precio=${precio}&dia=${dia}&tiempoComida=${tiempoComida}&cantidad=${cantidad}&subtotal=${subtotal}`);

        });

        function añadirACarritoDeCompra() {
            GuardarArticuloEnCarritoDeCompra()
            .then(
                res => respuestaHTML(res),
                err => respuestaHTML(err)
            )
        }

        function respuestaHTML(res) {
            console.log(res);
            //let response = JSON.parse(res);
            const data = res.split("%");

            console.log(data);
            if (data[1] == 1) {
                closeModal();
                crearNotificacion(data[0]);
            } else {
                let info = document.getElementById("modal-info");
                info.style.visibility = "visible";
                info.innerHTML = `<strong>${data[0]}</strong><span onclick='spanClose();' class='right spanClose'>&#10060;</span>`;
            
            }
        }
        
        //Propiedades personalizadas para las toast o mensajes emergentes
        function crearNotificacion(mensaje) {
            const toastHTML = `<span>${mensaje}</span>`;
            const notificacion = function () {
                M.toast({
                    html: toastHTML,//mensaje a mostrar
                    displayLength: 6000, //duración que estará el mensaje
                    inDuration: 300, //duracion de la transicion de entrada
                    outDuration: 2000, //duracion de la transicion de salida
                    classes: "rounded  green accent-4", //clases que se le agregaran al elemento
                    completeCallback: null,//funcion que se llamara al descartarse el mensaje
                    activationPercent: 0.8  //Porcentaje de ancho del mensaje que se necesita para que un arrastre descarte el mensaje.
                });
            }
            notificacion();
        }
    </script>
}